<a href="https://colab.research.google.com/github/AMendezCerquera/GoogleNotebooks/blob/main/basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create five variables

In [ ]:
first_name = 'Alejandro'
firstName = 'Alejandro'
FirstName = 'Alejandro'
FIRSTNAME = 'Alejandro'

In [ ]:
print(first_name)
print(firstName)
print(FirstName)
print(FIRSTNAME)

Alejandro
Alejandro
Alejandro
Alejandro

Create 10 Last Name Variables

In [ ]:
last_name1 = "Mendez"
last_name2 = "Dufus"
last_name3 = "Silver"
last_name4 = "Joker"
last_name5 = "Lopez"
last_name6 = "Garcia"
last_name7 = "Gomez"
last_name8 = "Cerquera"
last_name9 = "Garzuzo"
last_name10 = "Gaitan"

Using a for loop to print all the Last Names

In [ ]:
for x in range (1, 11):
  currentVariable = "last_name" + str(x)
  print (globals()[currentVariable])

Mendez
Dufus
Silver
Joker
Lopez
Garcia
Gomez
Cerquera
Garzuzo
Gaitan

Create 10 Lists, 10 Bool and 10 Floats

In [ ]:
list1 = [True, False, True]
list2 = ["1", "2", "3"]
list3 = [1, 2, 3, 4]
list4 = [[1, 2] , [3, 4]]
list5 = ["cold", "hot"]
list6 = [1, "warm", 3]
list7 = [3.14, 3.1416]
list8 = ["True", False]
list9 = [9, "9"]

studying = True
working = False

list10 = [studying, working]

hungry = True
sleepy = True
tired = True
happy = True

float1 = 3.14
float2 = 3.1
float3 = 1.68
float4 = 0.12
float5 = 0.21